.menu-item {
  max-width: 240px;
  min-height: 40px;
  margin: 10px 0;
  text-decoration: none;
  border-radius: 0 20px 20px 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
  .menu-icon {
    height: 100%;
    width: 22px;
  }
  .menu-title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0.15px;
    margin-left: 10px;
  }
  &:hover {
    background-color: rgba(243, 240, 247, 0.04);
  }
  &.active {
    background-color: rgba($color: #afc6ff, $alpha: 0.3);
  backdrop-filter: blur(1px);
    box-shadow: 0px 4px 8px -4px rgb(58 53 65 / 42%);
  }
}
.menu-sub-item {
  max-width: 180px;
  min-height: 25px;
  margin: -5px 0;
  padding-left: 10px;
  border-radius: 0 20px 20px 0;
  color: #99999b;
  + .menu-sub-item {
    margin-top: 10px;
  }
  &.active {
    background-clip: #fff;
    background:  #975ffd;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    box-shadow: none;
  }
}
