.wrapper {
  margin-top: 1px;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: rgba($color: #afc6ff, $alpha: 0.2);
  backdrop-filter: blur(10px);
  overflow: auto;
}
.title-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  font-size: 24px;
  color: #ddd;
}
.course-wrapper {
  display: flex;
  flex-direction: column;
}
.desc-wrapper {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
}
.content-wrapper {
  padding: 10px;
  width: 60%;
}

.desc-item {
  width: 90%;
  input {
    width: 100%;
    color: #fff;
    background-color: transparent;
    border-bottom: solid 0.1px rgb(228, 224, 224);
  }
  input::placeholder {
    font-size: 17px;
    padding-left: 10px;
    color: #fff;
  }
  input:focus {
    outline: none;
  }
}
.title-item {
  width: 100%;
  input {
    width: 100%;
  }
}

.detail-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.price-cate-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .price-item {
    width: 40%;
    margin-right: 20px;
  }
  .cate-item {
    flex: 1;
  }
}

.image-wrapper {
  width: 100%;
  display: flex;
  .image-item {
    width: 40%;
    .input-wrapper {
      width: 100%;
      input {
        border-bottom: none;
      }
    }
  }
  .image-preview-wrapper {
    flex: 1;
    height: 200px;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: solid 0.1px rgb(228, 224, 224);
    .image {
      height: 100%;
      object-fit: contain;
    }
  }
}

.benefit-wrapper {
  margin: 10px 0;
  flex: 1;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  color: #fff;
  background-color: rgba($color: #afc6ff, $alpha: 0.1);
  backdrop-filter: blur(1px);
  border-radius: 5px;
  .desc-title{
    margin-top: 10px;
  }
  .desc-item {
    width: 80%;
    margin: 10px 0;
  }
}
.desc-course-wrapper {
  padding: 0px 10px 0px 20px;
  .text-wrapper {
    padding-left: 20px;
    background-color: rgba($color: #afc6ff, $alpha: 0.1);
    backdrop-filter: blur(1px);
    width: 100%;
    outline: none;
    color: #fff;
  }
  textarea::placeholder {
    color: #fff;
  }
}
.chapter-wrapper {
  padding: 0 20px;
  margin-top: 0 20px;
  width: 100%;
}
.content-chapter {
  margin-top: 20px;
  padding: 0px 10px;
  width: 50%;
  height: 30px;
  color: #fff;
  background-color: rgba($color: #afc6ff, $alpha: 0.5);
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  cursor: pointer;
}
.desc-wrapper {
  display: flex;
  align-items: center;
  .desc {
    margin-left: 10px;
  }
}
.submit-wrapper {
  margin: 30px 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
}
.submit-btn {
  overflow: hidden;
  border-radius: 10px;
  margin-right: 100px;
  width: 150px;
  height: 100%;
  color: #fff;
  background-color: rgba($color: #afc6ff, $alpha: 0.5);
  backdrop-filter: blur(1px);
}
