.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-image: url('https://wallpapercave.com/wp/wp9302062.jpg');
  height: 665px;
}
.container {
  display: flex;
}
.content {
  flex: 1;
  height: 100%;
}
