.wrapper {
  margin-top: 10px;
}
.header-course {
  display: flex;
  font-size: 13px;
  font-weight: 600;
}
.sort-icon {
  width: 12px;
  height: 12px;
  margin-left: 3px;
  margin-top: 3px;
  cursor: pointer;
}
.check-wrapper {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-wrapper {
  width: 37%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price-wrapper {
  width: 10%;
  display: flex;
  align-items: center;
}
.cate-wrapper {
  width: 13%;
  display: flex;
  align-items: center;
}
.tags-wrapper {
  padding: 10px;
  margin-right: 20px;
  width: 18%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pubdate-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.content-wrapper {
  height: 410px;
  overflow: auto;
}

.tools-wrapper {
  margin-top: 10px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .tool-icon {
    width: 25px;
    height: 25px;
    margin: 0 50px;
    color: #fff;
    box-shadow: 0 0 1px 2px #9155fd;
    background-image: linear-gradient(98deg, #c6a7fe, #9155fd 94%);
    cursor: pointer;
    opacity: 0.6;
  }
}

.page-wrapper {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .page-item {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: linear-gradient(98deg, #c6a7fe, #9155fd 94%);
    border-radius: 50%;
    box-shadow: 0 0 1px 2px #9155fd;
    opacity: 0.6;
    cursor: pointer;
  }
}
